<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#">
        <span>name: </span><input type="text" placeholder="Name">
        <h1>Select any course</h1>
        <input type="radio" name="course">web <br>
        <input type="radio" name="course">web <br>
        <input type="radio" name="course">web <br>
        <input type="radio" name="course">web <br>
        <input type="date">
        <h1>Meal</h1>
        <input type="checkbox">Chole Bhature <br>
        <input type="checkbox">pao Bhaji <br>
        <input type="checkbox">Litti Chokha
    </form>
</body>
</html>